{% extends 'noticeboard/base.html' %}
{% block content %}

<div class="card p-4 shadow">
    <h3 class="mb-3">Add / Edit Notice</h3>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            <div class="text-danger">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
</div>

{% endblock %}